.footer {
  background-color: var(--background-black-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 80px;
  color: var(--light-grey);
}

.footerText {
  text-transform: uppercase;
  text-align: center;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 700;
  width: 212px;
  margin-bottom: 40px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  box-shadow: 2px 1px 32px 8px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 2px 1px 32px 8px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 2px 1px 32px 8px rgba(255, 255, 255, 0.8);
}
